@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

body {
  margin: 0;
  padding: 0;
  @apply bg-retro-main dark:bg-retro-bg;
}

.button {
  @apply lg:text-lg  text-[10px] text-white rounded-full transition shadow;
}
a {
  @apply underline;
}

.map_svg {
  @apply transition-colors duration-200 cursor-pointer;
}
.text-accent {
  @apply dark:text-retro-purple text-retro-mint;
}
.drop-shadow-accent-hover {
  @apply hover:drop-shadow-2xl hover:drop-shadow-retro-bg/80;
}
.fill-accent {
  @apply dark:fill-retro-purple fill-retro-mint;
}
.fill-accent-hover {
  @apply dark:hover:fill-retro-purple hover:fill-retro-mint;
}

@theme {
  --color-retro-bg: #242424;
  --color-retro-orange: #ff5f5f;
  --color-retro-yellow: #fcd34d;
  --color-retro-mint: #0ff0fc;
  --color-retro-purple: #a78bfa;
  --color-retro-text: #f4f4f4;
  --color-retro-card: #2d2d30;
  --color-retro-main: #4576b2;
}
/* Custom Animation */
@layer utilities {
  @keyframes breathing {
    0%,
    100% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.9;
      transform: scale(1.05) translateX(8px);
    }
  }
  .animate-breathing {
    animation: breathing 1.5s ease-in-out infinite;
  }
}
